extends layout

block content
  body
    header
      h1.professional Hi, I'm Godswill O. Egboh
      p.professional Junior Web Developer
    section
      h2 Featured Projects
      .project-item
        h3 My Portfolio Website
        p A professional portfolio showcasing my skills, projects, and experience.
        a(href='#') View Project
      .project-item
        h3 E-commerce Prototype
        p Designed and implemented a prototype for an e-commerce website using MERN stack.
        a(href='#') View Project
    section
      h2 My Skills
      ul
        li HTML5
        li CSS3
        li JavaScript (ES6+)
        li React.js
        li Node.js
        li MongoDB