doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(href='/') Home
      a(href='/services') Our Services
      a(href='/contact') Contact Us
    block content
  footer
  .container
    br
    hr
    p Copyright © 2024 Willis Chuks. All rights reserved.
    p Designed with ❤️ in Lekki
