extends layout


block content
    body
    h1 Explore My Projects
    section
        h2 Personal Website
        p My first project was creating my personal website to introduce myself to the world of web development.
        a(href='#') View Project
    section
        h2 To-Do App
        p I built a simple to-do application to practice my HTML, CSS, and JavaScript skills.
        a(href='#') View Project